   <div class="container">
     <div class="row text-center">
      <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-4">


        <h1>Stupid Coaching</h1>
        <p>Ask your coach anything:</p>
        <form action="/answer" method="get">
          <input type="text" name="question" placeholder="....">
          <input class="btn-primary" type="submit" value="Ask!">
        </form>
      </div>
     </div>
   </div>
